.card-holder {
  display: flex;
  justify-content: space-evenly;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: rgb(32, 37, 36);
  color: #fff;
  height: auto;
  padding: 40px;
  border: 4px solid #fff;
  box-shadow: inset 0 0 10px #000, inset 10px 0 0 red;
  border-radius: 20px;
}
.info {
  font-family: monospace;
  line-height: 1.7em;
  font-size: 1.2em;
  flex-direction: column;
}
#what {
  font-size: 2em;
  display: block;
}
#is {
  color: darkgoldenrod;
  font-size: 2.3em;
}
#occur {
  color: darkgoldenrod;
  font-size: 2em;
}
#pandemic {
  color: darkorange;
  font-size: 2.3em;
  display: block;
}
#prevention {
  color: #fff;
  font-size: 2.3em;
}
