<link rel="stylesheet" href="../styles/navstyle.css">

<body>
    <nav>
        <div>
            <a href="../index.php">Home</a>
            <a href="../pages/about.php">About</a>
            <a href="../pages/stats.php">Covid-Stats</a>
            <a href="../pages/history.php">History</a>
            <a href="#">Contact</a>
            <div class="animation start-home"></div>
            <a href="#" class="logo">Pandemicure</a>
            <img src="https://www.flaticon.com/premium-icon/icons/svg/2853/2853896.svg" alt="">
        </div>
        
    </nav>

</body>