* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: auto;
  background: linear-gradient(to bottom, #e2e2e2, #ffffff);
  font-family: Tahoma;
  font-size: 15px;
  background-image: linear-gradient(rgba(0, 0, 155, 0.3), rgba(255, 255, 0, 0.2)),
  url("https://xvivo.com/app/uploads/2020/05/COVID19_1920x1200.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#coronagif {
  margin-top: 50px;
  height: 19rem;
  width: 17.5rem;
}

.animatediv {
  animation: MoveUpDown 12s linear infinite;
  position: absolute;
  left: 10px;
  opacity: 0.9;
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 30%;
  }
  50% {
    top: 20%;
  }
}


.log{
  margin-top: 14%;
  text-align: center;
}
  /*Trigger Button*/
.login-trigger {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom right, #B05574, #e61815);
  padding: 20px 40px;
  border-radius: 30px;
  position: relative; 
  top: 50%;
}

/*Modal*/
h2 {
  font-size: larger;
  font-weight: bold;
  color: #fff;
}
.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: linear-gradient(to bottom right,#F87E7B,#B05574);
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: #fff;
}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}
