* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: auto;
  background: linear-gradient(to bottom, #e2e2e2, #ffffff);
  font-family: Tahoma;
  font-size: 15px;
  background-image: linear-gradient(rgba(0, 0, 155, 0.3), rgba(255, 255, 0, 0.2)),
  url("https://xvivo.com/app/uploads/2020/05/COVID19_1920x1200.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#coronagif {
  margin-top: 50px;
  height: 10rem;
  width: 9rem;
}

.animatediv {
  animation: MoveUpDown 20s linear infinite;
  position: absolute;
  left: 10px;
  opacity: 0.9;
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 30%;
  }
  50% {
    top: 20%;
  }
}



#fr{
  display: flex;
  align-items: center;
  width: 60%;
  border-radius: 10px;
  margin: auto;
  margin-top: 15px;
  padding: 5px 5px 5px 5px;
  background: rgba(72, 72, 72, .6);
  border: 3px solid rgba(0, 0, 0, 0);


  
}